{% extends "layout.html" %}
{% block content %}
<link href="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.js"></script>
<h4 style="text-align:center">{{t_info['tourney_name'][0]}}</h4>
 <h6 style="text-align:center; padding-bottom:5px;">{{t_info['course_name'][0]}}</h6>

<div class="container" style="text-align:center;">
 <a href="#" style="text-align:center" data-toggle="collapse" data-target="#demo">Tourney Details <span class="glyphicon glyphicon-arrow-down"></span></a>

 <div id="demo" class="collapse in">
   <font size="2" face="Arial">
     <div>
         <span>{{t_info['tourney_dates'][0]}}</span><br>
         <span>Current Status: {{tourney_status}}</span><br>
         <span>Purse: {{t_info['tourney_purse'][0]}}</span><br>
         <span>Defending Champ: {{t_info['tourney_defending_champ'][0]}}</span><br>

     </div>
   </font>
 </div>
</div>

<div class="container">
<h5 style="text-align:center"> Draft Your Team </h5>
<!-- Button trigger modal -->
<div style="padding-top: 10px; padding-bottom: 10px; text-align: center;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  How To Draft
</button>
</div>
</div>
<div>

<form action="{{request.path}}" method="post">


  <font size="2" face="Arial">
    <h5 style="text-align:center"> Tier 1 (Pick 3) </h5>
  <table class="table table-hover table-sm jtable">
<thead>
  <tr>
    <th style="width: 10%"> Pick </th>
      <th>Golfer</th>
      <th>World Ranking</th>
      <th>Tier</th>
  </tr>
</thead>
<tbody>
    {% for i, row in df.loc[df['tier'] == 'Tier 1'].iterrows() %}
    <tr>
      <td style="text-align:center; padding-left: 25px;">
        <input type="checkbox" class="form-check-input" style="padding-left: 5px;" name="team_list" value="{{ row['player'] }}">
      </td>
      <td>
        <label class="form-check-label" for="team_list">
            {{row['player']}}
          </label>
      </td>
      <td> {{row['current_rank']}} </td>
      <td> {{row['tier']}} </td>
    </tr>
  {% endfor %}
</tbody>
</table>

<h5 style="text-align:center"> Tier 2 (Pick 3) </h5>
<table class="table table-hover table-sm jtable">
<thead>
<tr>
<th style="width: 10%"> Pick </th>
  <th>Golfer</th>
  <th>World Ranking</th>
  <th>Tier</th>
</tr>
</thead>
<tbody>
{% for i, row in df.loc[df['tier'] == 'Tier 2'].iterrows() %}
<tr>
  <td style="text-align:center; padding-left: 25px;">
    <input type="checkbox" class="form-check-input" style="padding-left: 5px;" name="team_list" value="{{ row['player'] }}">
  </td>
  <td>
    <label class="form-check-label" for="team_list">
        {{row['player']}}
      </label>
  </td>
  <td> {{row['current_rank']}} </td>
  <td> {{row['tier']}} </td>
</tr>
{% endfor %}
</tbody>
</table>




</div>
<footer>
<button type="button submit" value="Submit" class="btn btn-info float-right" >Lock 'em in</button>
</footer>
</form>



{% endblock content %}
