{% extends "layout.html" %}
{% block content %}

<h4 style="text-align:center">{{t_info['tourney_name'][0]}}</h4>
 <h6 style="text-align:center; padding-bottom:5px;">{{t_info['course_name'][0]}}</h6>

<div class="container" style="text-align:center;">
 <a href="#" style="text-align:center" data-toggle="collapse" data-target="#demo">Tourney Details <span class="glyphicon glyphicon-arrow-down"></span></a>

 <div id="demo" class="collapse in">
   <font size="2" face="Arial">
     <div>
         <span>{{t_info['tourney_dates'][0]}}</span><br>
         <span>Purse: {{t_info['tourney_purse'][0]}}</span><br>
         <span>Defending Champ: {{t_info['tourney_defending_champ'][0]}}</span><br>

     </div>
   </font>
 </div>
</div>


<div class="page-header" style="text-align:center; padding-top:10px;">
  <h4>Donkey Scoreboard</h4>
</div>

<font size="1" face="Arial">
<div>
  <div style="text-align: right;"> {{refresh}} </div>
</div>
{% if cut_dict%}
  <br>
  <span>Projected Cut: {{cut_dict['cut_str']}}</span>
{% endif %}
</font>

<font size="2" face="Arial">
<table class="table table-sm jtable">
    <thead>
      <tr>
        <th>RANK</th>
        <th>PLAYER</th>
        <th>D-SCORE</th>
        <th>CUT</th>
        <th>ON COURSE</th>
        <th>$$</th>
      </tr>
    </thead>
    <tbody>

      {% for i, row in df_sb.iterrows() %}
      {% if row['username'] == current_user.username %}
        <tr class="team-indicator">
      {% else %}
        <tr>
      {% endif %}
          <td>{{row['final_rank']}}</td>

            <td>

          <a data-toggle="collapse" href="#" data-target="#{{row['username']}}">
                          {{row['username']}}
          </a>
          </td>



          <td>{{row['donkey_score']}}</td>
          <td>{{row['missed_cut']}}</td>
          <td>{{row['player_left']}}</td>
          <td>{{row['pay_flag']}}</td>
      </tr>


<!-- This piece of the code will allow a user to expand a persons teams
and see who they drafted and how they did. It will pop out as a small table
under the selected user -->
      <tr id="{{row['username']}}" class="collapse out">
        <td colspan=5>
          <font size="1" face="Arial">
            <font size="1" face="Arial">
            <table class="table table-sm tinytable1 table-striped">
                <thead>
                  <tr>
                    <th>POS</th>
                    <th>PLAYER</th>
                    <th>TO PAR</th>
                    <th>TODAY</th>
                    <th>THRU</th>
                    <th>TEAMS</th>
                    <th>D-SCORE</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- We are already looping thru the main dataframe, so we need to
                    use row2 so we have access to both dataframes while we loop -->
                  {% for i, row2 in team_player_df.loc[team_player_df['id'] == row['id']].iterrows() %}
                    <tr>
                      <td>{{row2['pos']}}</td>
                      <td>
                        <img src="{{row2['player_country']}}" alt="IDK" style="width:20px;height:20px;padding-right:5px;">
                        {{row2['player']}}
                    </td>

                      <td>{{row2['to_par']}}</td>
                      <td>{{row2['today']}}</td>
                      <td>{{row2['thru']}}</td>
                      <td>{{row2['team_count']}}</td>
                      <td>{{row2['donkey_score_team']}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </font>
          </font>
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</font>


<div class="page-header" style="text-align:center; padding-top:10px;">
  <h4>Drafted Donks</h4>
</div>

<font size="2" face="Arial">
<table class="table table-sm jtable">
    <thead>
      <tr>
        <th>POS</th>
        <th>PLAYER</th>
        <th>TO PAR</th>
        <th>TODAY</th>
        <th>THRU</th>
        <th>TEAMS</th>
        <th>D-SCORE</th>
      </tr>
    </thead>
    <tbody>

      {% for i, row in df_tourney.iterrows() %}
      {% if row['on_team'] == 'Yes' %}
        <tr class="team-indicator">
      {% else %}
        <tr>
      {% endif %}
          <td>{{row['pos']}}</td>
          <td>
            <img src="{{row['player_country']}}" alt="IDK" style="width:20px;height:20px;padding-right:5px;">
            <a data-toggle="collapse" href="#" data-target="#{{row['player']}}">
                            {{row['player']}}
            </a>
        </td>

          <td>{{row['to_par']}}</td>
          <td>{{row['today']}}</td>
          <td>{{row['thru']}}</td>
          <td>{{row['team_count']}}</td>
          <td>{{row['donkey_score']}}</td>


          </tr>
          <tr id="{{row['player']}}" class="collapse out">
            <td colspan=5>
              <font size="1" face="Arial">
                <font size="1" face="Arial">
                <table class="table table-sm tinytable1 table-striped">
                    <thead>
                      <tr>
                        <th>POS</th>
                        <th>TEAM</th>
                        <th>D-SCORE</th>
                        <th>CUT</th>
                        <th>ON COURSE</th>
                        <th>$$</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- We are already looping thru the main dataframe, so we need to
                        use row2 so we have access to both dataframes while we loop -->
                      {% for i3, row3 in team_player_df.loc[team_player_df['player'] == row['player']].sort_values('rank').iterrows() %}
                        <tr>

                          <td>{{row3['final_rank']}}</td>
                          <td>{{row3['username_team']}}</td>
                          <td>{{row3['donkey_score_gs']}}</td>
                          <td>{{row3['missed_cut_gs']}}</td>
                          <td>{{row3['player_left_gs']}}</td>
                          <td>{{row3['pay_flag']}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </font>
              </font>
          </td>
          </tr>



      {% endfor %}
    </tbody>
  </table>
</font>


{% endblock content %}
