{% extends "layout.html" %}

{% block content %}
<!-- The table class adds nice spacing and the other classes add additional style -->
<div class="container">

    <div class="container">
      <h3 class="display-6" style="text-align:center;">Welcome to Donkey Golf!</h3>
      <h5 class="display-6" style="text-align:center; padding-top: 25px;">What is Donkey Golf?</h5>
      <p style="text-align:center; padding-top: 10px;">Donkey Golf is truly a revolutionary approach to fantasy golf.
        We have hired world class talent to develop a sophisticated, machine-learning adjacent platform that brings
        the best in math and science together into one thing. This is a tremendous break through
        in technology on par with the moon landing or the creation of Tinder.
      </p>
      <p style="padding-top: 25px"> Here is how to play: </p>
    </div>
  <div class="row">
  <div class="card col-lg-4 col-md-4 col-sm-12">
  <iframe src="static/samberg_1.gif" width="300" height="160" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <div class="card-body">
    <h5 class="card-title">STEP 1</h5>
    <p class="card-text">Create an account (or sign in)</p>
    <a href="{{url_for('register')}}" class="btn btn-primary">Create Account</a>
  </div>
</div>

<div class="card col-lg-4 col-md-4 col-sm-12">
<iframe src="static/samberg_2.gif" width="280" height="155" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<div class="card-body">
  <h5 class="card-title">STEP 2</h5>
  <p class="card-text">Draft your team of donks</p>
  <a href="{{url_for('my_team')}}" class="btn btn-primary">Draft My Team</a>
</div>
</div>

<div class="card col-lg-4 col-md-4 col-sm-12">
<iframe src="static/samberg_3.gif" width="280" height="155" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<div class="card-body">
  <h5 class="card-title">STEP 3</h5>
  <p class="card-text">See how you stack up!</p>
  <a href="{{ url_for('game_scoreboard')}}" class="btn btn-primary">Scoreboard</a>
</div>
</div>
</div>
</div>





{% endblock content %}
