<body background="static/home_v2/augusta.jpg">
<div class="container">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <title>Donkey Golf - Home</title>

</head>

<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home_v2')}}">Home V2 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('my_team')}}">My Team</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tourney_leaderboard')}}">Tourney Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('game_scoreboard')}}">Game Scoreboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('how_to_play')}}">How To Play</a>
      </li>

    </ul>
    <div class="navbar-nav">
      {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
      {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>

  </div>
</nav>

<body>



  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to Donkey Golf</h1>
    <img src="{{ url_for('static', filename='donkey_golf_v2.PNG')}}" height="34" width="150">
    <div>
<h3 style="display: inline"> It's all coming together now </h3>
<h6> Create an account. Draft a team. Win. </h6>
      </div>
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Create an Account</h4>
          <div class="card-body">
            <p class="card-text">Register for an account.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Register</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Draft</h4>
          <div class="card-body">
            <p class="card-text">Go draft your team! Select 3 players from both tiers. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Draft My Team</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Watch</h4>
          <div class="card-body">
            <p class="card-text">Watch the tourney. Win big. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Win</a>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>


</div>
