{% extends "layout.html" %}
{% block content %}

<div class="container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/-V1-QNjWcqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item">1.) Start by picking golfers from 3 tiers. 2 from Tiers A & C, and 3 from Tier B.</li>
    <li class="list-group-item">2.) Then sit and wait for the tournament to end. Watch some of it if you feel like it.</li>
    <li class="list-group-item">3.) Your score is simply calculated as a total of your players "to par" score for the tourney</li>
    <li class="list-group-item">4.) If you have a player get cut, he will take on the score of the WORST player that finishes the tournament plus 1 penalty stroke</li>
  </ul><br>

<p> Got any feedback? Let me know! If it's hard I won't do it. If it's easy I will. </p>

</div>
{% endblock content %}
