{% extends "layout.html" %}

{% block content %}

<h4 style="text-align:center">{{t_info['tourney_name'][0]}}</h4>
 <h6 style="text-align:center; padding-bottom:5px;">{{t_info['course_name'][0]}}</h6>

<div class="container" style="text-align:center;">
 <a href="#" style="text-align:center" data-toggle="collapse" data-target="#demo">Tourney Details <span class="glyphicon glyphicon-arrow-down"></span></a>

 <div id="demo" class="collapse in">
   <font size="2" face="Arial">
     <div>
         <span>{{t_info['tourney_dates'][0]}}</span><br>
         <span>Current Status: {{tourney_status}}</span><br>
         <span>Purse: {{t_info['tourney_purse'][0]}}</span><br>
         <span>Defending Champ: {{t_info['tourney_defending_champ'][0]}}</span><br>

     </div>
   </font>
 </div>
</div>


<div>
  <div class="page-header" style="text-align:center; padding-top:10px;">
    <h4>Tourney Leaderboard</h4>
  </div>

  <font size="2" face="Arial">
  <div>
    <div style="text-align: right;"> Data as of '2019-04-10' </div>
  </div>
  {% if cut_dict%}
    <br>
    <span>Projected Cut: {{cut_dict['cut_str']}}</span>
  {% endif %}
</font>


<font size="2" face="Arial">
<table class="table table-sm jtable">
    <thead>
      <tr>
        <th style="width: 5%">POS</th>
        <th style="width: 30%">PLAYER</th>
        <th style="width: 15%">TO PAR</th>
        <th style="width: 10%">THRU</th>
        <th style="width: 10%">TODAY</th>

      </tr>
    </thead>
    <tbody>
      {% for i, row in df_tourney.iterrows() %}
      {% if row['on_team'] == 'Yes' %}
        <tr class="slate-gray text-white">
      {% elif row['player']=='Tiger Woods' %}
        <tr class="tiger-red text-white">
      {% elif row['pos'].lower().startswith('projected') or row['pos'].lower().startswith('the following') %}
        <tr class="cut_color text-white">
      {% else %}
        <tr>
      {% endif %}

      {% if row['pos'].lower().startswith('projected') or row['pos'].lower().startswith('the following') %}
        <td colspan="5">{{ row['pos'] }}</td>
      {% else %}
        <td>{{ row['pos'] }}</td>
        <td>{{ row['player'] }}</td>
        <td>{{ row['to_par'] }}</td>
        <td>{{ row['thru'] }}</td>
        <td>{{ row['r1'] }}</td>
      </tr>
      {% endif %}

      {% endfor %}

    </tbody>
  </table>
</font>
</div>

{% endblock content %}
