{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="container" style="text-align:center;">
<h4> {{team.id.drop_duplicates()[0]}} </h4>
</div>
<font size="2" face="Arial">
<table class="table table-hover table-sm jtable">
  <thead>
    <tr>
      <th style="width: 5%">POS</th>
      <th style="width: 30%">PLAYER</th>
      <th style="width: 15%">TO PAR</th>
      <th style="width: 10%">THRU</th>
      <th style="width: 10%">TODAY</th>

    </tr>
  </thead>
    <tbody>

      {% for i, row in team.iterrows() %}

        <tr>
          <td>{{ row['pos'] }}</td>
          <td>{{ row['player'] }}</td>
          <td>{{ row['to_par'] }}</td>
          <td>{{ row['thru'] }}</td>
          <td>{{ row['r1'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</font>
</div>


{% endblock content %}
