{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="container" style="text-align:center;">

    <h4 style="text-align:center">{{t_info['tourney_name'][0]}}</h4>
     <h6 style="text-align:center; padding-bottom:5px;">{{t_info['course_name'][0]}}</h6>

    <div class="container" style="text-align:center;">
     <a href="#" style="text-align:center" data-toggle="collapse" data-target="#demo">Tourney Details <span class="glyphicon glyphicon-arrow-down"></span></a>

     <div id="demo" class="collapse in">
       <font size="2" face="Arial">
         <div>
             <span>{{t_info['tourney_dates'][0]}}</span><br>
             <span>Current Status: {{tourney_status}}</span><br>
             <span>Purse: {{t_info['tourney_purse'][0]}}</span><br>
             <span>Defending Champ: {{t_info['tourney_defending_champ'][0]}}</span><br>

         </div>
       </font>
     </div>
    </div>

 <div class="page-header" style="text-align:center; padding-top:10px;">
   <h4>User Team</h4>

   <h5>
     {% for i, row in user_df.iterrows() %}
       {{row['username']}}
     {% endfor %} </h5>
 </div>

</div>
<font size="2" face="Arial">
<table class="table table-hover table-sm jtable">
  <thead>
    <tr>
      <th style="width: 5%">POS</th>
      <th>PLAYER</th>
      <th>TO PAR</th>
      <th>THRU</th>
      <th>TODAY</th>
      <th>TEAMS</th>
      <th>D-SCORE</th>
    </tr>
  </thead>
    <tbody>

      {% for i, row in team.iterrows() %}

        <tr>
          <td>{{ row['pos'] }}</td>
          <td>{{ row['player'] }}</td>
          <td>{{ row['to_par'] }}</td>
          <td>{{ row['thru'] }}</td>
          <td>{{ row['today'] }}</td>
          <td>{{ row['team_count'] }}</td>
          <td>{{ row['donkey_score'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</font>
</div>


{% endblock content %}
