body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.jtable>thead {
background-color: #2A3F52;
color:white;
font-family:"Arial";
padding:3px;
}

.tinytable1>thead {
background-color: #646464;
color:white;
font-family:"Arial";
padding:3px;
}

.slate-gray{
  background-color:#708090;
}

.team-indicator{
  background-color:#c6ecd9;
}
.cut_color {
  background-color:#b30000;
}

.tiger-red{
  background-color:#8C1717;
}

.jtable>tbody>tr>td {
padding:3px;
font-family:"Arial";
}

.bg-steel {
  background-color: #2A3F52;
}



.site-header .navbar-nav .nav-link {
  color: #2f4f4f;
}

.site-header .navbar-nav .nav-link:hover {
  color: #2f4f4f;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 300;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
